<!-- start custom comments snippet -->
{% if page.comments %}
<!-- Giscus Comment Section -->
    <div class="giscus">
        Loading comments...
    </div>
    <script src="https://giscus.app/client.js"
        data-repo="wenqiangye/wenqiangye.github.io"
        data-repo-id="R_kgDOIb5k_w"
        data-category="Announcements"
        data-category-id="DIC_kwDOIb5k_84CpN4L"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
    </script>
{% endif %}
<!-- end custom comments snippet -->